<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout%22%3E">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.4-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">

</head>
<body>


<div class="wrapper">
    <th:block th:replace="inc/sidebar :: sidebar"></th:block>
    <div id="content">
        <th:block th:replace="inc/navbar :: navbar"></th:block>
        <th:block layout:fragment="content"></th:block>
    </div>
</div>

<script th:src="@{js/jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/sidebar.js}"></script>
<script th:src="@{https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js}"> </script>

</body>
</html>