<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar" >
    <nav id="sidebar">
      <div class="sidebar-header">
       <h1 style="text-align: center;"><i class="far fa-building"></i></h1>
        <h2 style="text-align: center">Company All</h2>
        <hr/>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a th:href="@{/dashboard}"><i class="fas fa-home"></i> Ana Sayfa</a>
        <li>
          <a href="#"><i class="far fa-list-alt"></i> Kategoriler</a>
        </li>
        <li>
          <a th:href="@{/product}"><i class="fas fa-boxes"></i> Ürün Yönetimi</a>
        </li>
        <li>
          <a  th:href="@{/content}"><i class="fas fa-tasks"></i> İçerik Yönetimi</a>
        </li>
        <li>
          <a th:href="@{/customer}"><i class="far fa-address-card"></i> Müşteri Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-address-book"></i> Adres Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-images"></i> Galeri Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-newspaper"></i> Duyuru/Haber</a>
        </li>
        <li>
          <a th:href="@{/advertising}"><i class="fas fa-ad"></i> Reklam Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-gratipay"></i> Beğeni Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-poll-h"></i> Anket Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-receipt"></i> Sipariş Yönetimi</a>
        </li>

      </ul>
      <ul class="list-unstyled CTAs">
        <hr/>
        <li>
          <a href="" class="download"><i class="fas fa-cloud"></i> API Yönetimi</a>
        </li>
      </ul>
    </nav>

</th:block>
</body>
</html>
