<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"   lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar" >
    <nav id="sidebar">
      <div class="sidebar-header">
       <h1 style="text-align: center;"><i class="far fa-building"></i></h1>
        <h2 style="text-align: center">Company All</h2>
        <hr/>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="#"><i class="fas fa-home"></i> Ana Sayfa</a>
        <li>
          <a href="#"><i class="far fa-list-alt"></i> Kategoriler</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-boxes"></i> Ürün Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-tasks"></i> İçerik Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-address-card"></i> Müşteri Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-address-book"></i> Adres Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-images"></i> Galeri Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="far fa-newspaper"></i> Duyuru/Haber</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-ad"></i> Reklam Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-gratipay"></i> Beğeni Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-poll-h"></i> Anket Yönetimi</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-receipt"></i> Sipariş Yönetimi</a>
        </li>

      </ul>
      <ul class="list-unstyled CTAs">
        <hr/>
        <li>
          <a href="" class="download"><i class="fas fa-cloud"></i> API Yönetimi</a>
        </li>
      </ul>
    </nav>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</th:block>
</body>
</html>
