body {
    background: #914151;
    background: #914151;
}

.bg-image {
    background-image: url('../images/undraw_confidential_letter_w6ux (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}


.flex-shrink-0{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */

}