*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5
{
    margin:0px;
    font-size:1.4em;
    font-weight:700;
}

p
{
    font-size:18px;
}



/* End Non-Essential  */

.property-card
{
    height:9em;
    width:7em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px rgba(0, 0, 0, 0.21);
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px rgba(0, 0, 0, 0.21);
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_product_tour_re_8bai.png");
    background-size:cover;
    background-repeat:no-repeat;
}

.property-description
{
    background-color: #FAFAFC;
    height:12em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
}


/* Property Cards Hover States */

.property-card:hover .property-description
{
    height:0em;
    padding:0px 1em;
}
.property-card:hover .property-image
{
    height:18em;
}

