*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5
{
    margin:0px;
    font-size:1.4em;
    font-weight:700;
}

p
{
    font-size:18px;
}

.center
{
    height:50vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card
{
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px rgba(0, 0, 0, 0.21);
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px rgba(0, 0, 0, 0.21);
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_product_tour_re_8bai.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image1
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_Like_dislike_re_dwcj.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image2
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_Content_re_33px.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image3
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_newspaper_k72w.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image4
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_Order_delivered_re_v4ab.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image5
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_Business_deal_re_up4u.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image6
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_Customer_survey_re_v9cj.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.property-image7
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url("../images/undraw_ideas_flow_cy7b.png");
    background-size:cover;
    background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
    background-color: #FAFAFC;
    height:12em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
}


/* Property Cards Hover States */

.property-card:hover .property-description
{
    height:0em;
    padding:0px 1em;
}
.property-card:hover .property-image
{
    height:18em;
}
.property-card:hover .property-image1
{
    height:18em;
}
.property-card:hover .property-image2
{
    height:18em;
}
.property-card:hover .property-image3
{
    height:18em;
}
.property-card:hover .property-image4
{
    height:18em;
}
.property-card:hover .property-image5
{
    height:18em;
}
.property-card:hover .property-image6
{
    height:18em;
}.property-card:hover .property-image7
 {
     height:18em;
 }
.property-card:hover .property-social-icons
{
    background-color:white;
}

.property-card:hover .property-social-icons:hover
{
    background-color:grey;
    cursor:pointer;
}

