a[data-fancybox] img {
    cursor: zoom-in;
}

.fancybox__container {
    --fancybox-bg: rgba(17, 6, 25, 0.85);
}

.fancybox__container .fancybox__content {
    /* Create white border around the image */
    box-sizing: content-box;
    padding: 1rem;
    background: #fff;

    border-radius: 6px;
    color: #374151;
    box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
}

.fancybox__caption {
    max-width: 80%;

    /* Prevent opacity change when dragging up/down */
    --fancybox-opacity: 1;
}
.flex-shrink-0{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */

}