<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Adres Yönetimi</title>
</head>
<body>
<th:block layout:fragment="content">
    <h3 style="color: #398067"><i class="far fa-address-book"></i> Adres Yönetimi <hr/></h3>
    <div class="card">
        <div class="card-body">
            <div class="row mb-3 mt-3">
                <div class="col-sm-4 mb-3 mt-3">
                    <h6>Sayfa başına <select class="form-select-sm">
                        <option value="1">5</option>
                        <option value="2">10</option>
                        <option value="3">15</option>
                    </select> kayıt göster. </h6>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form id="search_form">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                            <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
                            <a onclick="customerSearch()" class="btn btn-outline-danger">Ara</a>
                        </div>
                    </form>
                </div>
            </div>
            <!---Tablo Başlangıç-->
            <table class="table table-hover">
                <thead style="background: #E5B86C; color: white">
                <tr>
                    <th scope="col" >Müşteri Adı</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Adres</th>
                    <th scope="col">İşlemler</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Ali Bilmem</th>
                    <td>Araba</td>
                    <td>5</td>
                    <td>  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addressAddModal">
                        Ekle
                    </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addressUpdateModal">
                            Düzenle
                        </button>
                        <a href="" class="btn btn-outline-danger">Sil</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!---Tablo Bitiş-->
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!---Adres Ekleme Başlangıç-->
    <div class="modal fade" id="addressAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" id="staticBackdropLabel">Adres Ekleme</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addressAdd" name="addressAdd" >
                        <div class="mb-3">
                            <label for="us_name" class="form-label">Adı</label>
                            <input class="form-control" type="text" id="us_name">
                        </div>
                        <div class="mb-3">
                            <label for="us_mail" class="form-label">Mail</label>
                            <input class="form-control" type="text" id="us_mail">
                        </div>
                        <div class="mb-3">
                            <label for="us_mail" class="form-label">Adres</label>
                            <input class="form-control" type="text" id="us_mail">
                        </div>

                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-outline-primary">Kaydet</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Adres Ekleme Bitiş-->

    <!---Adres Düzenleme Başlangıç-->
    <div class="modal fade" id="addressUpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" id="staticBackdropLabel">Adres Düzenleme</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addressUpdate" name="addressUpdate" >
                        <div class="mb-3">
                            <label for="us_name" class="form-label">Adı</label>
                            <input class="form-control" type="text" id="us_name">
                        </div>
                        <div class="mb-3">
                            <label for="us_mail" class="form-label">Mail</label>
                            <input class="form-control" type="text" id="us_mail">
                        </div>
                        <div class="mb-3">
                            <label for="us_mail" class="form-label">Adres</label>
                            <input class="form-control" type="text" id="us_mail">
                        </div>

                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-outline-primary">Kaydet</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Adres Düzenleme Bitiş-->
</th:block>
</body>
</html>