<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Reklam Yönetimi</title>
</head>
<body>
<th:block layout:fragment="content">
    <h3 style="color: #398067"><i class="fas fa-ad"></i> Reklam Yönetimi <hr/></h3>
    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#addAdvertising">
             <i class="fas fa-plus-square"></i> Reklam Ekle
            </button>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-sm-4 mb-3 mt-3">
            <h6>Sayfa başına <select class="form-select-sm">
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select> kayıt göster. </h6>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form id="search_form">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="asearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
                    <a  class="btn btn-outline-danger">Ara</a>
                </div>
            </form>
        </div>
    </div>
    <!---Tablo Başlangıç-->
    <table class="table table-hover">
        <thead  style="background:#E5B86C; color: white">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col" >Adı</th>
            <th scope="col">Gösterim</th>
            <th scope="col">Genişlik</th>
            <th scope="col">Yükseklik</th>
            <th scope="col">Başlangıç</th>
            <th scope="col">Bitiş</th>
            <th scope="col">Link</th>
            <th scope="col">İşlemler</th>
        </tr>
        </thead>
        <tbody id="advRow">
        </tbody>
    </table>
    <!---Tablo Bitiş-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!---Reklam Ekle Başlangıç-->
    <div class="modal fade bd-example-modal-lg" id="addAdvertising" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"  style="background:#E5B86C; color: white">
                    <h5 class="modal-title" id="staticBackdropLabel">Reklam Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        Reklam bilgilerinizi giriniz.
                    </div>
                    <hr/>

                    <form id="advertisingAdd" name="advertisingAdd" action="/advertising_mvc/imageUpload" th:object="${advertising}"  method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="advtitle" class="form-label">Reklam Adı</label>
                                <input class="form-control" type="text" id="advtitle" name="advtitle" placeholder="Reklam Adı">
                            </div>
                            <div class="col-md-6">
                                <label for="screentime" class="form-label">Gösterim Sayısı</label>
                                <input class="form-control" type="number" id="screentime" name="screentime">
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="starttime" class="form-label">Başlangıç Tarihi</label>
                                <input class="form-control" type="date" id="starttime" name="starttime" placeholder="Başlangıç Tarihi">
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="endtime" class="form-label">Bitiş Tarihi</label>
                                <input class="form-control" type="date" id="endtime" name="endtime" placeholder="Bitiş Tarihi">
                            </div>
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="width" class="form-label">Genişlik</label>
                                <input class="form-control" type="text" id="width" name="width"  placeholder="Genişlik">
                            </div>
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="height" class="form-label">Yükseklik</label>
                                <input class="form-control" type="text" id="height" name="height" placeholder="Yükseklik">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="imageName" class="form-label">Dosya Seçiniz</label>
                                <input class="form-control" type="file" id="imageName" name="imageName">
                            </div>
                            <div class="col-md-6 mb-3 ">
                                <label for="link" class="form-label">Reklam Linki</label>
                                <input class="form-control" type="text" id="link" name="link" placeholder="Reklam Linki">
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-outline-primary">Ekle</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Reklam Ekle Bitiş-->

    <!----------Resim Detay---->

    <div class="modal fade" id="ViewModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #E5B86C" >
                    <h5 class="modal-title" id="adv_Title" style="color: white">Reklam Resmi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-sm-9" >

                        <img id="imgID"  alt="" style="height: 300px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>

<script th:src="@{js/advertising.js}"></script>