<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Duyuru / Haber Yönetimi </title>
</head>
<body>

<th:block layout:fragment="content">

  <h3 style="color: #398067"><i class="far fa-newspaper"></i> Duyuru / Haber Yönetimi <hr/></h3>

  <div class="row">
    <div class="col-md-5">
      <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#announcementAddModal"><i class="fas fa-save"></i> Duyuru Ekle</button>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#newsAddModal"><i class="fas fa-save"></i> Haber Ekle</button>

      </div>
    </div>
    <div class="col-md-3">
      <select class="form-select" id="status" aria-label="Example select with button addon">
        <option value="">Hepsi </option>
        <option value="1">Aktif </option>
        <option value="2">Pasif </option>
      </select>
    </div>

    <div class="col-md-4">
      <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option value="0">-- Kategoriler</option>
          <option value="1">Elektronik</option>
          <option value="2">Araba</option>
        </select>
        <button class="btn btn-outline-primary" type="button">SEÇ</button>
      </div>
    </div>
  </div>

  <div class="row mb-3 mt-3">

    <h5 style="color: #398067"><i class="far fa-newspaper"></i> Duyurular<hr/></h5>

    <div class="col-sm-4 mb-3 mt-3">
      <h6>Sayfa başına <select class="form-select-sm">
        <option value="1">5</option>
        <option value="2">10</option>
        <option value="3">15</option>
      </select> kayıt göster. </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form id="search_form">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
          <a class="btn btn-outline-danger">Ara</a>
        </div>
      </form>
    </div>
  </div>

  <!--- Duyuru Tablo Başlangıç-->
  <table class="table table-hover">
    <thead style="background:#E5B86C; color: white">
    <tr>
      <th scope="col">Duyuru Durum</th>
      <th scope="col">Başlık</th>
      <th scope="col">Detay</th>
      <th scope="col">Tarih</th>
      <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody id="announcementRow">

    </tbody>
  </table>
  <!---Tablo Bitiş-->
  <hr/>


  <div class="row mb-3 mt-3">

    <h5 style="color: #398067"><i class="far fa-newspaper"></i> Haberler<hr/></h5>

    <div class="col-sm-4 mb-3 mt-3">
      <h6>Sayfa başına <select class="form-select-sm">
        <option value="1">5</option>
        <option value="2">10</option>
        <option value="3">15</option>
      </select> kayıt göster. </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form id="searchform">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
          <a class="btn btn-outline-danger">Ara</a>
        </div>
      </form>
    </div>
  </div>

  <!--- Duyuru Tablo Başlangıç-->
  <table class="table table-hover">
    <thead style="background:#E5B86C; color: white">
    <tr>
      <th scope="col">Haberler</th>
      <th scope="col">Kategori</th>
      <th scope="col">Aktif/Pasif</th>
      <th scope="col">Resim</th>
      <th scope="col">Eklenme Tarihi</th>
      <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Haberler</th>
      <td>Kategori</td>
      <td>Aktif/Pasif</td>
      <td>Resim</td>
      <td>Tarih</td>
      <td>Düzenle/Silme</td>
    </tr>
    </tbody>
  </table>


  <!---Haber Ekle Başlangıç-->
  <div class="modal" id="newsAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#E5B86C;">
          <h5 class="modal-title" style="color: white" >İçerik Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <h6 class="text-center">İçerik Bilgilerinizi Aşağıda Girebilirsiniz</h6>
          <hr/>

          <form id="newsAdd" name="newsAdd" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="news_title" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Haber Başlık</label>
              </div>
              <div class="col-md-8 ">
                <input type="text" name="news_title" id="news_title" class="form-control"  required  />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="news_desc" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kısa Açıklama</label>
              </div>
              <div class="col-md-8 ">
                <input type="text" name="news_desc" id="news_desc" class="form-control"  required  />
              </div>
            </div>

            <div class="row">

              <div class="col-md-4 mb-3">
                <label for="news_detail_desc" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Detaylı Açıklama</label>
              </div>
              <div class="col-md-8 ">
                <textarea class="ckeditor" id="news_detail_desc" name="news_detail_desc"> </textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="news_image" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Resim Ekle</label>
              </div>
              <div class="col-md-8 ">
                <input class="form-control" type="file" id="news_image" name="news_image">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="news_status" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Durum</label>
              </div>

              <div class="col-md-8 mt-3">
                <select class="form-select" id="news_status" aria-label="Example select with button addon">
                  <option value="">Seçiniz</option>
                  <option value="1">Aktif </option>
                  <option value="2">Pasif </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="news_category" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategori</label>
              </div>
              <div class="col-md-8 mt-3">
                <select class="form-select" id="news_category" aria-label="Example select with button addon">
                  <option value="1">Elektronik </option>
                  <option value="2">Spor</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9"></div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-save"></i> Ekle</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!---Duyuru Ekle Başlangıç-->
  <div class="modal" id="announcementAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#E5B86C;">
          <h5 class="modal-title" style="color: white" >Duyuru Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <h6 class="text-center">Duyuru Bilgilerinizi Aşağıda Girebilirsiniz</h6>
          <hr/>

          <form id="announcementAdd" name="announcementAdd" method="post">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="announcement_title" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Duyuru Başlık</label>
              </div>
              <div class="col-md-8 ">
                <input type="text" name="announcement_title" id="announcement_title" class="form-control"  placeholder="Duyuru Başlığını Giriniz" required  />
              </div>
            </div>
            <div class="row">

              <div class="col-md-4 mb-3">
                <label for="announcement_detail_desc" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Detaylı Açıklama</label>
              </div>
              <div class="col-md-8 ">
                <textarea class="ckeditor" id="announcement_detail_desc" name="announcement_detail_desc"> </textarea>
              </div>
            </div>


            <div class="row">

              <div class="col-md-4 mb-3 mt-2">
                <label for="announcement_date" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Tarih</label>
              </div>
              <div class="col-md-8 mt-2">
                <input type="date" id="announcement_date" name="announcement_date" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="announcement_status" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Durum</label>
              </div>

              <div class="col-md-8 mt-3">
                <select class="form-select" id="announcement_status" aria-label="Example select with button addon">
                  <option value="">Seçiniz </option>
                  <option value="1">Aktif </option>
                  <option value="2">Pasif </option>
                </select>
              </div>
            </div>


            <div class="row">
              <div class="col-md-9"></div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-save"></i> Ekle</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</th:block>

</body>
</html>

<script th:src="@{js/announcement.js}"></script>

