<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Kategoriler</title>
</head>
<body>

<th:block layout:fragment="content">

    <h3 style="color: #398067"><i class="far fa-list-alt"></i> Kategoriler<hr/></h3>

    <div class="row">
            <div class="col-md-10">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#categoryNewsAddModal"><i class="fas fa-save"></i> Duyuru/Haber Kategorisi Ekle</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#categoryProductAddModal"><i class="fas fa-save"></i> Ürün Kategorisi Ekle</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#categoryGalleryAddModal"><i class="fas fa-save"></i> Galeri Kategorisi Ekle</button>
                </div>
            </div>
    </div>

    <div class="row mb-3 mt-3">
        <h5 style="color: #398067"><i class="far fa-list-alt"></i> Duyuru/Haber Kategorileri<hr/></h5>

        <div class="col-sm-4 mb-3 mt-3">
            <h6>Sayfa başına <select class="form-select-sm">
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select> kayıt göster. </h6>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form id="search_announcement">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="asearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
                    <a onclick="announcementSearch()" class="btn btn-outline-danger">Ara</a>
                </div>
            </form>
        </div>
    </div>
    <!---News Tablo Başlangıç-->
    <table class="table table-hover">
        <thead  style="background:#E5B86C; color: white">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">İşlemler</th>

        </tr>
        </thead>
        <tbody id="tableRow">
        </tbody>
    </table>
    <!---Tablo Bitiş-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!---Product Arama Başlangıç-->
    <div class="row mb-3 mt-3">
        <h5 style="color: #398067"><i class="far fa-list-alt"></i> Ürün Kategorileri<hr/></h5>
        <div class="col-sm-4 mb-3 mt-3">
            <h6>Sayfa başına <select class="form-select-sm">
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select> kayıt göster. </h6>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form id="search_form">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
                    <a onclick="customerSearch()" class="btn btn-outline-danger">Ara</a>
                </div>
            </form>
        </div>
    </div>
    <!---Product Tablo Başlangıç-->
    <table class="table table-hover">
        <thead  style="background:#E5B86C; color: white">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">İşlemler</th>

        </tr>
        </thead>
        <tbody id="tableProductRow">
        </tbody>
    </table>
    <!---Tablo Bitiş-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="row mb-3 mt-3">
        <h5 style="color: #398067"><i class="far fa-list-alt"></i> Galeri Kategorileri<hr/></h5>
        <div class="col-sm-4 mb-3 mt-3">
            <h6>Sayfa başına <select class="form-select-sm">
                <option value="1">5</option>
                <option value="2">10</option>
                <option value="3">15</option>
            </select> kayıt göster. </h6>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form id="search_gallery">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="gsearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
                    <a onclick="customerSearch()" class="btn btn-outline-danger">Ara</a>
                </div>
            </form>
        </div>
    </div>
    <!--- Galeri Tablo Başlangıç-->
    <table class="table table-hover">
        <thead  style="background:#E5B86C; color: white">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">İşlemler</th>

        </tr>
        </thead>
        <tbody id="tableGalleryRow">
        </tbody>
    </table>
    <!---Tablo Bitiş-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <!---Haber Kategori Ekle Başlangıç-->
    <div class="modal fade bd-example-modal-lg" id="categoryNewsAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" id="staticBackdropLabel">Duyuru/Haber Kategori Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        Kategori Bilgilerinizi Giriniz.
                    </div>
                    <hr/>
                    <form id="addNewsCategory" name="addNewsCategory">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="news_categoryName" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategori Adı</label>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" name="news_categoryName" id="news_categoryName" placeholder="Kategori Adı">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <button type="submit" class="btn btn-outline-primary">Ekle</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Haber Kategori Ekle Bitiş-->
    <!---Ürün Kategori Ekle Başla-->
    <div class="modal fade bd-example-modal-lg" id="categoryProductAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" >Ürün Kategori Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        Kategori Bilgilerinizi Giriniz.
                    </div>
                    <hr/>
                    <form id="addProductCategory" name="addProductCategory">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="product_categoryName" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategori Adı</label>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" name="product_categoryName" id="product_categoryName" placeholder="Kategori Adı">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <button type="submit" class="btn btn-outline-primary">Ekle</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Ürün kategori son--->
    <!---Galeri Kategori Ekle Başla-->
    <div class="modal fade bd-example-modal-lg" id="categoryGalleryAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" >Galeri Kategori Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        Kategori Bilgilerinizi Giriniz.
                    </div>
                    <hr/>
                    <form id="addGalleryCategory" name="addGalleryCategory" >

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="gallery_categoryName" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategori Adı</label>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" name="gallery_categoryName" id="gallery_categoryName" placeholder="Kategori Adı">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <button type="submit" class="btn btn-outline-primary">Ekle</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---Galeri Kategori Ekle Bitiş-->

    <div class="modal fade bd-example-modal-lg" id="categoryNewsUpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#E5B86C; color: white">
                    <h5 class="modal-title" id="staticBackdropLabel1">Duyuru/Haber Kategori Güncelle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        Kategori Bilgilerinizi Giriniz.
                    </div>
                    <hr/>
                    <form id="updateNewsCategory" name="updateNewsCategory">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="n_categoryName" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategori Adı</label>
                            </div>
                            <div class="col-md-8 ">
                                <input class="form-control" type="text" name="news_categoryName" id="n_categoryName" placeholder="Kategori Adı">
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <button type="submit" class="btn btn-outline-primary">Ekle</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</th:block>

</body>
</html>
<script th:src="@{js/categoryAnnouncement.js}"></script>
<script th:src="@{js/categoryGallery.js}"></script>
<script th:src="@{js/categoryProduct.js}"></script>



