<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Müşteri Yönetimi</title>
</head>
<body>
<th:block layout:fragment="content">
  <h3 style="color: #398067"><i class="far fa-address-card"></i> Müşteri Yönetimi<hr/></h3>

  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#customerAdd">
        <i class="fas fa-save"></i> Müşteri Ekle
      </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row mb-3 mt-3">
    <div class="col-sm-4 mb-3 mt-3">
      <h6>Sayfa başına <select class="form-select-sm">
        <option value="1">10</option>
        <option value="2">20</option>
        <option value="3">30</option>
      </select> kayıt göster. </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form id="search_form">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
          <a class="btn btn-outline-danger">Ara</a>
        </div>
      </form>
    </div>
  </div>
  <!---Tablo Başlangıç-->
  <table class="table table-hover">
    <thead style="background: #E5B86C; color: white">
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Adı</th>
      <th scope="col">Soyadı</th>
      <th scope="col">Email</th>
      <th scope="col">Telefon</th>
      <th scope="col">İşlemler</th>
      <th scope="col">Sil</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item,iter : ${ls}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.cname}"></td>
      <td th:text="${item.csurname}"></td>
      <td th:text="${item.cemail}"></td>
      <td th:text="${item.cphone}"></td>
      <!--<td><a onclick="return fncDelete();" th:href=" @{'/userDelete/' + ${item.id}} " class="btn btn-danger btn-sm">Delete</a> </td>
      <td><a th:href=" @{'/userUpdate/' + ${item.uid}} " class="btn btn-info btn-sm">Update</a> </td> -->
    </tr>
    </tbody>
  </table>

  <!---Tablo Bitiş-->

  <!---Müşteri Ekle Başlangıç-->
  <div class="modal fade bd-example-modal-lg" id="customerAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #E5B86C; color: white">
          <h5 class="modal-title" id="staticBackdropLabel">Müşteri Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            Müşteri Bilgilerinizi Giriniz.
          </div>
          <hr/>

          <form id="addCustomer" name="addCustomer"   method="post">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="cname" class="form-label">Müşteri Adı</label>
                <input class="form-control" type="text" name="cname" id="cname" placeholder="Adı">
              </div>
              <div class="col-md-6">
                <label for="csurname" class="form-label">Müşteri Soyadı</label>
                <input class="form-control" type="text" id="csurname" name="csurname" placeholder="Soyadı">
              </div>
              <div class="col-md-6">
                <label for="cemail" class="form-label">Email</label>
                <input class="form-control" type="text" id="cemail" name="cemail" placeholder="email">
              </div>
              <div class="col-md-6">
                <label for="cphone" class="form-label">Telefon</label>
                <input class="form-control" type="number" id="cphone" name="cphone" placeholder="Telefon">
              </div>


              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3 mt-2">
                <button type="submit" class="btn btn-outline-primary">Ekle</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</th:block>
</body>
</html>
