<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Müşteri Yönetimi</title>
</head>
<body>
<th:block layout:fragment="content">
  <h3 style="font-family: 'Bradley Hand ITC'; color: #171a1d; font-size: xxx-large; font-weight: bold">Müşteri Yönetimi</h3>
  <hr/>
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#customerAdd">
        + Müşteri Ekle
      </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row mb-3 mt-3">
    <div class="col-sm-4 mb-3 mt-3">
      <h6>Sayfa başına <select class="form-select-sm">
        <option value="1">5</option>
        <option value="2">10</option>
        <option value="3">15</option>
      </select> kayıt göster. </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form id="search_form">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
          <a class="btn btn-outline-danger">Ara</a>
        </div>
      </form>
    </div>
  </div>
  <!---Tablo Başlangıç-->
  <table class="table table-hover">
    <thead style="background: #FF865E; color: white">
    <tr>
      <th scope="col" >ID</th>
      <th scope="col">ADI</th>
      <th scope="col">SOYADI</th>
      <th scope="col">EMAİL</th>
      <th scope="col">TELEFON</th>
      <th scope="col">ŞİFRE DEĞİŞTİR</th>
      <th scope="col">SİL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>8798546</td>
      <td>şifre değiştir</td>
      <td>sil</td>
    </tr>
    </tbody>
  </table>

  <!---Tablo Bitiş-->

  <!---Müşteri Ekle Başlangıç-->
  <div class="modal fade bd-example-modal-lg" id="customerAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background: tomato; color: white">
          <h5 class="modal-title" id="staticBackdropLabel">Müşteri Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            Müşteri Bilgilerinizi Giriniz.
          </div>
          <hr/>

          <form id="addCustomer" name="labAdd"   method="post" enctype="multipart/form-data">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="customer_name" class="form-label">Müşteri Adı</label>
                <input class="form-control" type="text" name="customer_name" id="customer_name" placeholder="Adı">
              </div>
              <div class="col-md-6">
                <label for="customer_surname" class="form-label">Müşteri Soyadı</label>
                <input class="form-control" type="text" id="customer_surname" name="customer_surname" placeholder="Soyadı">
              </div>
              <div class="col-md-6">
                <label for="customer_email" class="form-label">Email</label>
                <input class="form-control" type="text" id="customer_email" name="customer_email" placeholder="email">
              </div>
              <div class="col-md-6">
                <label for="customer_phone" class="form-label">Telefon</label>
                <input class="form-control" type="number" id="customer_phone" placeholder="Telefon">
              </div>


              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3 mt-2">
                <button type="submit" class="btn btn-outline-primary">Ekle</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</th:block>
</body>
</html>