<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Müşteri Yönetimi</title>
</head>
<body>
<th:block layout:fragment="content">
  <h3 style="color: #398067"><i class="far fa-address-card"></i> Müşteri Yönetimi<hr/></h3>

  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#customerAdd">
        <i class="fas fa-save"></i> Müşteri Ekle
      </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row mb-3 mt-3">
    <div class="col-sm-4 mb-3 mt-3">
      <h6>Sayfa başına  <select onchange="allCustomer()" class="form-select-sm" name="cPage" id="cPage">
        <option value="5" >5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="-1">Hepsi</option>
      </select> kayıt göster. </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
        <input onkeyup="fncSearch()" id="search" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
        <button id="contentSearch" class="btn btn-outline-primary">Ara</button>
      </div>
    </div>
  </div>
  <!---Tablo Başlangıç-->
  <table class="table table-hover">
    <thead style="background: #E5B86C; color: white">
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Adı</th>
      <th scope="col">Soyadı</th>
      <th scope="col">Email</th>
      <th scope="col">Telefon</th>
      <th scope="col">Sil</th>
    </tr>
    </thead>

    <tbody id="customerRow">

    </tbody>
  </table>
  <div class="row" >
    <div class="col-sm-5" >
      <div class="d-inline p-2 bg-secondary text-white" id="totalPageNumber"></div>
    </div>

    <div class="col-sm-7">
      <div class="btn-group" role="group" aria-label="Basic outlined example" style="float: right">
        <button type="button" onclick="changeVariables(0)" class="btn btn-outline-secondary"> İlk </button>
        <button onclick="pageMinus()" type="button" class="btn btn-outline-secondary"> <i class="fas fa-angle-double-left"></i> </button>
        <button id="bPlus" onclick="pagePlus()" type="button" class="btn btn-outline-secondary"><i class="fas fa-angle-double-right"></i> </button>
        <button type="button"  onclick="changeVariables(-5)"  class="btn btn-outline-secondary"> Son </button>
      </div>


    </div>
  </div>

  <!---Tablo Bitiş-->

  <!---Müşteri Ekle Başlangıç-->
  <div class="modal fade bd-example-modal-lg" id="customerAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #E5B86C; color: white">
          <h5 class="modal-title" id="staticBackdropLabel">Müşteri Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            Müşteri Bilgilerinizi Giriniz.
          </div>
          <hr/>

          <form id="addCustomer" name="addCustomer"   method="post">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="cname" class="form-label">Müşteri Adı</label>
                <input class="form-control" type="text" name="cname" id="cname" placeholder="Adı" required>
              </div>
              <div class="col-md-6">
                <label for="csurname" class="form-label">Müşteri Soyadı</label>
                <input class="form-control" type="text" id="csurname" name="csurname" placeholder="Soyadı" required>
              </div>
              <div class="col-md-6">
                <label for="cemail" class="form-label">Email</label>
                <input class="form-control" type="text" id="cemail" name="cemail" placeholder="email" required>
              </div>
              <div class="col-md-6">
                <label for="cphone" class="form-label">Telefon</label>
                <input class="form-control" type="number" id="cphone" name="cphone" placeholder="Telefon" required>
              </div>


              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3 mt-2">
                <button type="submit" class="btn btn-outline-primary">Ekle</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</th:block>


</body>
</html>
<script th:src="@{js/customer.js}"></script>