<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout%22%3E">
<head>
  <meta charset="UTF-8">
  <title>Ana Sayfa</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/fontawesome-free-5.15.4-web/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white-50 fixed-top" >
  <div class="container">
    <a class="navbar-brand" th:href="@{/}"><i class="far fa-building"></i> CompanyAll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/about}">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/images}">Galeri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contact}">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login}">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/register}">Kayıt Ol</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>

  <div id="carouselExampleCaptions" class="carousel carousel-dark slide" style="width: 1192px; height:825px; margin: 0 auto" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <h1>Company All'a</h1>
          <p style="font-size: xx-large">

          Hoşgeldiniz!
          </p>
        </div>
      </div>
      <div class="carousel-item two">
        <div class="carousel-caption">
          <h3>CompanyAll V1.0 Beta</h3>
          <p style="font-size: large">Ortamınızı inşa etmek için bize katılın. Mobil verileriniz CompanyAll ile tek tık uzaklıkta !</p>
        </div>
      </div>
      <div class="carousel-item three">
        <div class="carousel-caption">
          <h3>Basit ve Kullanışlı</h3>
          <p style="font-size: large"> Verilerinizi güvenle saklayabileceğiniz ayrıca kullanışlı admin panelimizle çalışanlarınızla rahat bir iletişim kurabileceğiniz platformumuzu kullanmak için kayıt olmanız yeterli.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black"></span>
      <span class="visually-hidden" style="color: black">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="color: black"></span>
      <span class="visually-hidden" style="color: black">Next</span>
    </button>
  </div>
</header>

<section class="pricing py-5">
  <p><br/></p>
  <p><br/></p>
  <p><br/></p>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4" >
        <div class="card mb-5 mb-lg-0" style="background-color: #E5B86C">
          <div class="card-body">
            <h5 class="card-title  text-uppercase text-center" style="color: #398067">Hala kayıt olmadın mı?</h5>
            <h6 class="card-price text-white-50 text-center"><i class="far fa-user-circle"></i><span class="period"></span></h6>
            <hr>

            <div class="d-grid">
              <a th:href="@{/register}" class="btn btn-primary text-uppercase"><i class="far fa-user-circle"></i> Üye Ol</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4" >
        <div class="card mb-5 mb-lg-0" style="background-color: #E5B86C">
          <div class="card-body">
            <h5 class="card-title  text-uppercase text-center" style="color: #398067">Zaten üye misin?</h5>
            <h6 class="card-price text-white-50 text-center"><i class="fas fa-door-open"></i><span class="period"></span></h6>
            <hr>

            <div class="d-grid">
              <a th:href="@{/login}" class="btn btn-primary text-uppercase"><i class="fas fa-door-open"></i> Giriş yap</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card" style="background-color: #E5B86C">
          <div class="card-body">
            <h5 class="card-title   text-uppercase text-center" style="color: #398067">Daha çok bilgi için</h5>
            <h6 class="card-price text-white-50 text-center"><i class="far fa-address-card"></i><span class="period"></span></h6>
            <hr>

            <div class="d-grid">
              <a th:href="@{/contact}" class="btn btn-primary text-uppercase"><i class="far fa-address-card"></i>  İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Page Content -->
<section class="buttons py-5">
  <div class="row">
  <div class="text col-mb-12 text-white-50" style="text-align: center; font-size: xxx-large; font-family: Bahnschrift;" >
    <p><br/></p>
    <p><br/></p>
    <p>"Mobil Bulut API Sistemi"</p>
    <p>Company All</p>
    <p><br/></p>
    <p><br/></p>
  </div>
  </div>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-0 shadow text-white-50" style="background-color: #398067;">
          <div class="container">
            <div class="mb-3 mt-3">
          <p>
            Şirketiniz için gerekli tüm bilgileri saklayabileceğiniz güvenilir veri
            depolama alanımıza bulunduğunuz her noktadan ulaşabilirsiniz.
            Verilerinizi depolama ve onlara kolaylıkla ulaşabilmeniz için
            sistemimize ücretsiz kayıt olabilirsiniz.
          </p>
            </div>
            <hr/>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Güvenli Veri Hizmetleri <br></h5>
            <div class="card-text text-black-50"><i class="fas fa-shield-alt"></i></div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-0 shadow text-white-50" style="background-color: #398067;">
          <div class="container">
            <div class="mb-3 mt-3">
              <p>
                Şirketinize ait kullanıcı ve müşteri ilişkilerinizi rahatlıkla kontrol edebileceğiniz ayrıca haber,
                reklam, ürün yönetimleri gibi birçok ihtiyacınızı karşılayabileceğiniz yönetim panelleri olabildiğince
                esnek ve anlaşılır şekilde tarafımızca tasarlanıp kullanımınıza sunuldu.
              </p>
            </div>
            <hr/>
          </div>

          <div class="card-body text-center">
            <h5 class="card-title mb-0">Kullanışlı ve Esnek Admin Paneli</h5>
            <div class="card-text text-black-50"><i class="fas fa-columns"></i></div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-0 shadow text-white-50" style="background-color: #398067;">
          <div class="container">
            <div class="mb-3 mt-3">
              <p>
                Görsel anlamda platform farketmeksizin (responsive) tasarlanmış uygulamamız
                mobil platformda basit kullanımıyla dikkatleri
                üzerine çekmeyi amaçlamış ve müşteri memnuniyetini en mühim hedef edinmiştir.
                Bizimle irtibata geçiniz...
              </p>
            </div>
            <hr/>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Birçok Platforma Uyumlu Arayüz</h5>
            <div class="card-text text-black-50"><i class="fas fa-mobile-alt"></i></div>
          </div>
        </div>
      </div>

    <!-- /.row -->
    </div>
  </div>
</section>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Company All</small>
  </div>
</footer>

<script th:src="@{js/jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

</body>
</html>