<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Teslim Edilen Siparişler</title>
</head>
<body>

<th:block layout:fragment="content">

  <h3 style="color: #398067"><i class="fas fa-truck"></i> Teslim Edilen Siparişler <hr/></h3>

  <div class="row">
    <div class="col-md-6">
      <a th:href="@{/order_mvc}"  class="btn btn-outline-danger"><i class="fas fa-backspace"></i> Geri</a>
    </div>


  </div>

  <div class="col-sm-4 mb-3 mt-3">
    <h6>Sayfa başına <select class="form-select-sm">
      <option value="1">5</option>
      <option value="2">10</option>
      <option value="3">15</option>
    </select> kayıt göster. </h6>
  </div>

  <!--- Siparişler Tablosu Başlangıç-->
  <table class="table table-hover">
    <thead style="background:#E5B86C; color: white">
    <tr>
      <th scope="col">Müşteri Adı ve Soyadı</th>
      <th scope="col">Müşteri Telefon</th>
      <th scope="col">Müşteri Email</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Ürün Miktarı</th>
      <th scope="col">Gönderim Tarihi</th>
      <th scope="col">Toplam</th>
      <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody id="deliveredRow">

    </tbody>
  </table>



</th:block>

</body>
</html>

<script th:src="@{js/delivered.js}"></script>