<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="row">

    <div class="col-sm-6">
        <div class="form-floating col-md-8 mt-3 mx-3 ">
            <select class="form-select" id="galleries" aria-label="Floating label select example">
                <option>Resimleri görüntülemek için galeri seçiniz</option>
                <option th:each="item,iter : ${galeries}" th:value="${item.id}" th:text="${item.galleryname}"/>
            </select>
            <label style="color: #0F9DEF" for="galleries">Galeriler</label>
            <div class="col-sm-3 mt-3"  id="imageAdd"></div>
        </div>

    </div>



    <div class="col-sm-6">
    <!--Resim Ekle Başlangıç-->
    <div class="card mb-3">
        <h5 class="card-header" style="background:#E5B86C; color: white">Resim Ekleme</h5>
        <div class="card-body">
                    <form id="galleryAdd" name="galleryAdd" action="/galleryDetail_mvc/imageUpload" th:object="${galleryImage}"  method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <select id="g_id" name="g_id" class="form-select" data-width="100%" data-show-subtext="true" data-live-search="true">
                                <option data-subtext="">Galeri</option>
                                <option th:each="item,iter : ${galeries}" th:value="${item.id}" th:text="${item.galleryname}"/>
                            </select>
                        </div>

                        <div class="mb-3 p-3">
                            <label for="gallery_image" class="form-label">Dosya Seçiniz</label>
                            <input class="form-control" type="file" id="gallery_image" name="gallery_image">
                        </div>

                        <div class="mb-3 p-3">
                            <label for="image_desc" >Resim Yazısı </label>
                            <div class="input-group">
                                <textarea placeholder="Resim yazısı(ALT)" id="image_desc" name="image_desc" class="form-control" aria-label="note" ></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="alert alert-warning" role="alert">
                                <ul>
                                    <li>Yüklenecek resmin genişliği veya yüksekliği <b>400px</b>'den küçük olamaz..</li>
                                    <li>Resmin boyutu <b>2MB</b>'tan büyük olamaz</li>
                                    <li>İzin verilen türler : <b>jpg, jpeg, png</b></li>
                                </ul>
                            </div>
                        </div>

                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-outline-danger"  data-bs-dismiss="modal">Ekle</button>

                    </form>
                </div>
            </div>
    </div>
</div>

    <!--Resim Ekle Bitiş-->

        <!--- Modal --->
        <div class="modal fade" id="ViewModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #E5B86C" >
                        <h5 class="modal-title" id="gallery-image" style="color: white">Resim</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="col-sm-9" >

                            <img id="imgID"  alt="" style="height: 300px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

</th:block>
</body>
</html>
<script th:src="@{js/galleryimage.js}"></script>