<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Sipariş Yönetimi</title>
</head>
<body>

<th:block layout:fragment="content">

  <h3 style="color: #398067"><i class="fas fa-receipt"></i> Sipariş Yönetimi <hr/></h3>

  <div class="row">
    <div class="col-md-6">
      <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#orderAddModal"><i class="fas fa-save"></i> Sipariş Ekle</button>
        <a th:href="@{/delivered_mvc}"  class="btn btn-outline-danger"><i class="fas fa-tag"></i> Teslim Edilen Siparişler</a>

      </div>
    </div>

    <div class="col-md-6">
      <form id="search_form">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
          <input id="csearch" type="text" class="form-control" placeholder="Arama.." aria-label="Username" aria-describedby="addon-wrapping">
          <a class="btn btn-outline-danger">Ara</a>
        </div>
      </form>

    </div>

  </div>

  <div class="col-sm-4 mb-3 mt-3">
    <h6>Sayfa başına <select class="form-select-sm">
      <option value="1">5</option>
      <option value="2">10</option>
      <option value="3">15</option>
    </select> kayıt göster. </h6>
  </div>

  <!--- Siparişler Tablosu Başlangıç-->
  <table class="table table-hover">
    <thead style="background:#E5B86C; color: white">
    <tr>
      <th scope="col">Müşteri ID</th>
      <th scope="col">Ürün ID</th>
      <th scope="col">Sipariş Ayrıntısı</th>
      <th scope="col">Gönderim Tarihi</th>
      <th scope="col">Kullanıcı Adresi</th>
      <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ürün</td>
      <td>Detay</td>
      <td>Tarih</td>
      <td>Adres</td>
      <td>Ayrıntı/Silme</td>
    </tr>
    </tbody>
  </table>
  <!---Tablo Bitiş-->

  <!---Sipariş Ekle Başlangıç-->
  <div class="modal" id="orderAddModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#E5B86C;">
          <h5 class="modal-title" style="color: white" >Sipariş Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Sipariş Bilgilerini Aşağıda Girebilirsiniz</h6>
          <hr/>
          <form id="orderAdd" name="orderAdd" >
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="order_customer" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Müşteri</label>
              </div>
              <div class="col-md-8 ">
                <select class="form-select" id="order_customer" name="order_customer" aria-label="Example select with button addon">
                  <option value="0">-- Müşteri Seçiniz</option>
                  <option th:each="item,iter : ${customer}" th:value="${item.id}" th:text="${item.cname}"/>

                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="order_product" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Ürün</label>
              </div>
              <div class="col-md-8 ">
                <select class="form-select" name="order_product" id="order_product" aria-label="Example select with button addon">
                  <option value="0">-- Ürün Seçiniz Seçiniz</option>
                  <option th:each="item,iter : ${product}" th:value="${item.id}" th:text="${item.productname}"/>

                </select>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4 mb-3">
                <label for="order_count" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Adet</label>
              </div>
              <div class="col-md-8 ">
                <input type="text" name="order_count" id="order_count" class="form-control"  required  />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="order_date" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Tarih</label>
              </div>

              <div class="col-md-8 mt-3">
                <input type="date" class="form-control" id="order_date" name="order_date" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="customer_address" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kullanıcı Adresi</label>
              </div>

              <div class="col-md-8 mt-3">
                <input type="text" name="customer_address" id="customer_address" class="form-control"  required  />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mt-3">
                <label for="order_status" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Sipariş Durumu</label>
              </div>

              <div class="col-md-8 mt-3">
            <select class="form-select" id="order_status" aria-label="Default select example">
              <option> Seçiniz </option>
              <option value="1" selected>Sipariş Hazırlanıyor</option>
              <option value="2">Teslim Edildi</option>
            </select>
              </div>

            <div class="row">
              <div class="col-md-9"></div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-save"></i> Ekle</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>





</th:block>


</body>
</html>

<script th:src="@{js/order.js}"></script>