<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">

<head>
    <meta charset="UTF-8">
    <title>Ürünler</title>

</head>
<body>

<th:block layout:fragment="content">

    <h3 style="color: #398067"><i class="fas fa-boxes"></i> Ürün Yönetimi <hr/></h3>

    <div class="row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#product">
                <i class="fas fa-plus-square"></i> Ürün Ekle
            </button>
            <a  th:href="@{/uploadImage_mvc}" class="btn btn-outline-primary"><i class="far fa-images"></i> Resim Ekle</a>

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-sm-4 mb-3 mt-3">
            <h6>Sayfa başına <select onchange="allProductResult()" class="form-select-sm" name="cPage" id="cPage">
                <option value="5" >5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="-1">Hepsi</option>
            </select> kayıt göster.</h6>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" ><i class="fas fa-search"></i></span>
                    <input onkeyup="fncSearch()" id="search" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
                    <button id="contentSearch" class="btn btn-outline-secondary">Ara</button>
                </div>

        </div>
    </div>
    <!---Tablo Başlangıç-->
    <table  class="table table-hover">
        <thead style="background:#E5B86C; color: white">
        <tr>
            <th scope="col">Ürün Id</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Başlığı</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Fiyat</th>
            <th scope="col">İşlem</th>
        </tr>
        </thead>
        <tbody id="productRow">

        </tbody>
    </table>
    <div class="row" >
        <div class="col-sm-5" >

            <div class="d-inline p-2 bg-secondary text-white" id="totalPageNumber"></div>
        </div>

        <div class="col-sm-7">

            <div class="btn-group" role="group" aria-label="Basic outlined example" style="float: right">
                <button type="button" onclick="changeVariables(0)" class="btn btn-outline-secondary"> İlk </button>
                <button onclick="pageMinus()" type="button" class="btn btn-outline-secondary"> <i class="fas fa-angle-double-left"></i> </button>
                <button id="btnPlus" onclick="pagePlus()" type="button" class="btn btn-outline-secondary"><i class="fas fa-angle-double-right"></i> </button>
                <button type="button"  onclick="changeVariables(-5)"  class="btn btn-outline-secondary"> Son </button>
            </div>


        </div>
    </div>

    <!---Tablo Bitiş-->

    <!---Ürün Ekle Başlangıç-->
    <div class="modal" id="product"  tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#E5B86C;">
                    <h5 class="modal-title" style="color: white" >Ürün Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="productAdd" name="paroductAdd" >
                        <h6 class="text-center">Ürün Bilgilerinizi Aşağıda Girebilirsiniz</h6>
                        <hr/>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="categoryProducts" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kategoriler</label>
                            </div>
                            <div class="col-md-8 mb-3">
                                <select class="form-select" id="categoryProducts" multiple aria-label="multiple select example" required>
                                    <option th:each="item,iter : ${categories}" th:value="${item.id}" th:text="${item.productcategoryname}"/>
                                </select>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="productname" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Ürün Adı</label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="text" name="content_title" id="productname" class="form-control"  required  />

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="product_desc" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kısa Açıklama</label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="text" name="content_title" id="product_desc" class="form-control"  required  />
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <label for="product_detail" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Detaylı Açıklama</label>
                            </div>
                            <div class="col-md-8 mb-3 ">
                                <textarea class="form-control" id="product_detail" name="product_detail_desc" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="product_price" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Ürün Fiyatı</label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="number" name="product_price" id="product_price" class="form-control"  required  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="product_type" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Ürün Tipini Seçiniz </label>
                            </div>

                            <div class="col-md-8 mb-3">
                                <select class="form-select" id="product_type" aria-label="Example select with button addon" required>
                                    <option value="0">Seçim yapınız </option>
                                    <option value="1">Satılık </option>
                                    <option value="2">Kiralık </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="campaign" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kampanya var mı?</label>
                            </div>

                            <div class="col-md-8 mb-3">
                                <select class="form-select" id="campaign" aria-label="Example select with button addon" required>
                                    <option value="0">Seçim yapınız </option>
                                    <option value="1">Evet </option>
                                    <option value="2">Hayır </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="campaign_name" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kampanya Adı</label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="text" name="campaign_name" id="campaign_name" class="form-control"  required  />
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <label for="campaign_desc" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Kampanya Detayı</label>
                            </div>
                            <div class="col-md-8 mb-3">
                                <textarea class="form-control" id="campaign_desc" name="campaign_detail"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="address" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Adres </label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="text" name="address" id="address" class="form-control"  required  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="latitude" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Enlem </label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="number" name="latitude" id="latitude" class="form-control"  required  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="longitude" class="form-label" style="color: #5c636a;font-family: Bahnschrift;font-size: large; ">Boylam</label>
                            </div>

                            <div class="col-md-8 ">
                                <input type="number" name="longitude" id="longitude" class="form-control"  required  />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                                <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-save"></i> Ekle</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Kapat</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>


</body>
</html>

<script th:src="@{js/product.js}"></script>
