<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
  <meta charset="UTF-8">
  <title>Kullanıcı Ayarları</title>
</head>
<body>
<th:block layout:fragment="content">
  <h3 style="color: #398067"><i class="fas fa-cogs"></i> Ayarlar <hr/></h3>
  <h6>Sayın Kullanıcı, kişisel bilgilerinizi ve şirket bilgilerinizi aşağıda güncelleyebilirsiniz.</h6>
  <br/>
  <div class="row">

    <div class="col-md-3">
      <div class="card  mb-3 p-1" style="max-width: 18rem;">
        <div class="card-header" style="background:#E5B86C; color: white" >Kullanıcı Bilgileri</div>
        <div class="card-body ">
          <p class="card-text" >Kullanıcı bilgilerinizi güncelleyin.</p>
        </div>
        <div class="card-footer bg-transparent "> <a th:href="@{/userUpdate_mvc}" class="btn btn-outline-primary">Düzenle</a></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3 p-1" style="max-width: 18rem;">
        <div class="card-header" style="background:#E5B86C; color: white">Şirket Bilgileri</div>
        <div class="card-body ">
          <p class="card-text">Şirket bilgilerinizi güncelleyin.</p>
        </div>
        <div class="card-footer bg-transparent ">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCompany">
          Düzenle
        </button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card mb-3 p-1" style="max-width: 18rem;">
        <div class="card-header" style="background:#E5B86C; color: white">Şifre Değiştirme </div>
        <div class="card-body ">
          <p class="card-text">Şifrenizi güncelleyin.</p>
        </div>
        <div class="card-footer bg-transparent ">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updatePassword">
            Değiştir
          </button>
        </div>
      </div>
    </div>


  </div>

  <!---Firma Düzenleme Başlangıç--->
  <div class="modal fade" id="addCompany" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background:#E5B86C; color: white">
          <h5 class="modal-title" id="staticBackdropLabel">Şirket Bilgilerini Düzenleme</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="updateCompany" name="updateCompany"  >

            <div class="mb-3">
              <label for="companyName" class="form-label">Şirketinizin Adı</label>
              <input th:value="${user.companyName}" class="form-control" type="text" id="companyName"  name="companyName" placeholder="Şirketinizin Adı" required>
            </div>
            <div class="mb-3">
              <label for="companyAddress" class="form-label">Şirketinizin Adresi</label>
              <input  th:value="${user.companyAddress}" class="form-control" type="text" id="companyAddress" name="companyAddress" placeholder="Şirketinizin Adresi" required>
            </div>

            <!--HARİTA-->

            <div class="mb-3">
              <label for="phone" class="form-label">Telefon</label>
              <input  th:value="${user.phone}" class="form-control" type="text" id="phone" name="phone" placeholder="Telefon" required>
            </div>


            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!---Firma Düzenleme Bitiş--->
  <!---Şifre Değiştir ----->
  <div class="modal fade" id="updatePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background:#E5B86C; color: white">
          <h5 class="modal-title" id="modal">Şifre Değiştir</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="PasswordUpdate" name="PasswordUpdate"  >

            <div class="mb-3">
              <label for="newPassword" class="form-label">Yeni Şifre</label>
              <input  class="form-control" type="password" id="newPassword"  name="newPassword" placeholder="Yeni Şifre" required>
            </div>
            <div class="mb-3">
              <label for="renewPassword" class="form-label">Yeni Şifre Tekrar</label>
              <input class="form-control" type="password" id="renewPassword" name="renewPassword" placeholder="Yeni Şifre Tekrar" required>
            </div>

            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</th:block>


</body>
</html>


<script th:src="@{js/settings.js}"></script>