<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcı Güncelleme</title>
</head>
<body>
<th:block layout:fragment="content">
  <h3 style="color: #398067"><i class="fas fa-user-edit"></i> Kullanıcı Güncelleme <hr/></h3>
  <div class="row">
    <div class="col-md-6 mb-3">
      <a th:href="@{/settings_mvc}"  class="btn btn-outline-danger"><i class="fas fa-backspace"></i> Geri</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header" style="background:#E5B86C; color: white" ><i class="fas fa-pen"></i> Kullanıcı Bilgilerini Güncelle</h5>
    <div class="card-body">

     <form id="updateuser" name="updateuser">
      <div class="mb-3">
        <label for="firstName" class="form-label">Adı</label>
        <input th:value="${user.firstName}" class="form-control" type="text" id="firstName" name="firstName" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Soyadı</label>
        <input th:value="${user.lastName}" class="form-control" type="text" id="lastName" name="lastName" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Mail</label>
        <input  th:value="${user.email}" class="form-control" type="text" id="email" name="email" required>
      </div>

      <button type="submit" class="btn btn-outline-primary">Kaydet</button>
     </form>


    </div>
  </div>




</th:block>
</body>
</html>

<script th:src="@{js/userUpdate.js}"></script>
