body, html {
    height: 100%;
}



.bg-img {
    /* The image used */
    background-image: url("https://static.parade.com/wp-content/uploads/2021/06/benefits-having-dog.jpg");

    /* Control the height of the image */

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Center and scale the image nicely */

    background-repeat: no-repeat;
    background-size: cover;

}
